* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
}

.container {
  display: flex;
  flex-direction: column;
  width: 383px;
  height: 610px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 15px;
}

.container img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 145px;
  margin-right: 145px;
  margin-bottom: 28px;
}

.personal {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 60px;
  margin-left: 100px;
  margin-right: 100px;
  gap: 5px;
}

.personal h1 {
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
}

.personal p {
  color: hsl(75, 94%, 57%);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.description {
  width: 255px;
  height: 15px;
  margin-left: 64px;
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-top: 25px;
}

.links {
  width: 306px;
  height: 292px; 
  margin-left: 38px;
  margin-right: 38px;
  margin-top: 24px;
  margin-bottom: 38px;
}

.box-link {
  display: flex;
  width: 304px;
  height: 47px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 20%);
  border-radius: 15px;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 600;
  border: 0;
}

.box-link-1 {
  display: flex;
  width: 304px;
  height: 47px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 20%);
  border-radius: 15px;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 600;
  border: 0;
}

.box-link:hover {
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}

.box-link-1:hover {
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}

.box-link:focus {
  outline: 2px solid hsl(75, 94%, 57%);
  outline-offset: 2px;
}

.box-link-1:focus {
  outline: 2px solid hsl(75, 94%, 57%);
  outline-offset: 2px;
}